/*-----修改后的CSS-----*/
BODY {
	FONT-FAMILY:verdana,arial,helvetica;
	font-size:14px;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color:#f0f8ff;
	
	overflow: auto; color: #000000; 
	background-image: url(../images/ty1.jpg);
    border: solid 0px black;
    height: 100%; 
    scrollbar-face-color: #d3d3d3;
    scrollbar-shadow-color: #F3F4F4; 
    scrollbar-highlight-color: #F3F4F4; 
    scrollbar-3dlight-color: #F3F4F4;
    scrollbar-darkshadow-color: #F3F4F4; 
    scrollbar-track-color: #F3F4F4; 
    scrollbar-arrow-color: #F3F4F4;
}

.img {
	position:relative;
	border-width:0;
	top:3px;
	height:18px;
	width:18px;
}
td,th
{
	FONT-FAMILY:verdana,arial,helvetica;
	font-size:14px;
	height:25px;
	vertical-align:middle;
	word-wrap : break-word;
}




/*---- 链接的样式 butBlue 设置 -----*/
a:active {
	font-size:14px;
	line-height: 20px;
	font-weight: normal;
	color: blue;
	text-decoration:underline;
}
a:link {
	font-size:14px;
	line-height: 20px;
	font-weight: normal;
	color: blue;
	text-decoration:underline;
}
a:visited {
	font-size:14px;
	line-height: 20px;
	font-weight: normal;
	text-decoration:underline;
	color: blue;
}
a:hover {
	font-size:14px;
	line-height: 20px;
	font-weight: normal;
	color: Red;
	text-decoration:underline;
}

/*---- 链接的样式设置 (黑色)-----*/
a.black:active {
	font-size:14px;
	line-height: 20px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
a.black:link {
	font-size:14px;
	line-height: 20px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
a.black:visited {
	font-size:14px;
	line-height: 20px;
	font-weight: normal;
	color:black ;
	text-decoration: none;
}
a.black:hover {
	font-size:14px;
	line-height: 20px;
	font-weight: normal;
	color: RED;
	text-decoration: underline;
}

.Content
{
	font-size:14px;
	line-height: 150%;
	font-weight: normal;
}

/*-------------------------*/
textarea,input
{
	font-size:14px;
	line-height: 150%;
	font-weight: normal;
}

/*---------------------------------------------------*/
.btn,.btnBack1
{ 
  BORDER-RIGHT: #7b9ebd 1px solid;
  PADDING-RIGHT: 2px; 
  BORDER-TOP: #7b9ebd 1px solid;
  PADDING-LEFT: 2px; FONT-SIZE: 12px;
  FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#cecfde);
  BORDER-LEFT: #7b9ebd 1px solid; 
  CURSOR: hand; 
  COLOR: black; 
  BORDER-BOTTOM: #7b9ebd 1px solid;
}